{% extends 'usernavigation.html' %}
{% load static %}
{% block body %}


{% ifequal error "no" %}
<script >
	alert('Password changed successfully...');
	window.location=('{% url 'logout' %}');
</script>>
{% endifequal %}

{% ifequal error "yes" %}
<script>
	alert('Invalid Login Credentials,Try again');
</script>
{% endifequal %}





<div class="container mt-5">
	<div class="row">
		<div class="col-sm-6">
			<img src="{% static 'images/ncpw.jfif' %}" style="width: 90%;height: 400px">
		</div>
		<div class="col-sm-6">
			<h2 class="text-center">Change Password</h2>
			<HR>
			<form method="post">
				{% csrf_token %}
				<label>Old Password</label>
				<input type="Password" class="form-control" placeholder="enter old password" name="old">
				<label>New Password</label>
				<input type="Password" class="form-control" placeholder="enter New Password" name="new">
				<label>Confirm Password</label>
				<input type="Password" class="form-control" placeholder="re-enter New Password" name="confirm">
				<input type="submit" class="btn btn-danger mt-2000" value="login" >
			</form>
		</div>
	</div>
</div>



{% endblock%}