{% extends 'usernavigation.html' %}
{% load static %}
{% block body %}

<div class="container mt-5">
	<h2 class="text-center">EDIT PROFILE</h2>
	<HR>
	
	<div class="row">
		<div class="col-sm-6">
			<form method="post">
				{% csrf_token %}
				<div class="form-row">
					<div class="form-group col-sm-6">
						<label>First Name</label>
						<input type="text" class="form-control" value="{{data.user.first_name}}" name="firstname">
						
					</div>
					<div class="form-group col-sm-6">
						<label>Last Name</label>
						<input type="text" class="form-control" value="{{data.user.last_name}}" name="lastname">
						
					</div>
					
				</div>
				<div class="form-row">
					<div class="form-group col-md-12">
						<label>Email Id</label>
						<input type="Email" class="form-control" value="{{data.user.username}}" name="emailid" readonly>						
					</div>		
				</div>

				<div class="form-row">
					<div class="form-group col-md-12">
						<label>Contact no</label>
						<input type="text" class="form-control" value="{{data.contact}}" name="contact">						
					</div>		
				</div>
				<div class="form-row">
					<div class="form-group col-md-6">
						<label>Branch</label>
						<select class="form-control" name="branch">
							<option value="Computer Science">Computer Science</option>
							<option value="Information Science">Information Science</option>
							<option value="Electronics">Electronics</option>
							<option value="Electrical">Electrical</option>
							<option value="Civil">Civil</option>
							<option value="Mechanical">Mechanical</option>
						</select>					
					</div>		
					<div class="form-group col-md-6 mt-2">
						<br>
						<input type="text" value="{{data.branch}}" class="form-control" readonly>
						
					</div>
				</div>




	<input type="submit" value ="Update" class="btn btn-primary mt-5">
			</form>
		</div>
		
	</div>


	
</div>
{% if error %}
<script >
	alert('Profile Updated successfully');
	window.location="{% url 'profile' %}";
</script>
{% endif %}


{% endblock %}